
/* RegistrationForm.css test git */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: background color for the whole page */
    font-family: Arial, sans-serif; /* Set the font family for the whole page */
  }
  
  #registrationTitle {
    color: black; /* Color for the title text */
    margin-bottom: 20px; /* Space between the title and the form */
  }
  
  form {
    width: 400px;
    padding: 20px;
    background-color: black; /* Form background color */
    color: white; /* Form text color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Slightly darker shadow for better contrast on black */
    font-family: Arial, sans-serif; /* Ensure the form also has Arial font in case it's not inherited */
  }
  
  div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #333; /* Dark input fields for contrast */
    color: white; /* White input text */
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Set the font for input fields */
  }
  
  button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif; /* Set the font for buttons */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    background-color: #6c757d;
    margin-top: 10px;
  }
  
  button[type="button"]:hover {
    background-color: #545b62;
  }
  .error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
  }
  